/* @import "tailwindcss/preflight";  */
@import "tailwindcss"; /* index named as _index to keep this import at top of main.css*/

/* manrope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* sora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Sora', sans-serif;

    --standard-purple: #510087;
    --standard-yellow: #FFD500;
    --tinted-white: #F5F0F6;
    --purple-line: #6300A6;

    --default-width: 92.5%;
    --wide-width: 95%;
}

@media (max-width: 600px) {
    :root {
        --default-width: 90%;
        --wide-width: 92.5%;
    }
}

@layer base {
     *, *::before, *::after {
        box-sizing: border-box;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: 700;
        /* font-size: 100%; */
    }
    p, a {
        font-family: var(--font-body);
    }

    h1 {
        font-size: 4.25rem;
        line-height: 1.1;
    }
    h2 {
        font-size: 3.14rem;
        line-height: 1.2;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    p {
        font-size: 1rem;
    }

    @media (max-width: 475px) {
        h1 {
            font-size: 4.75rem;
            line-height: 1.1;
        }
        h2 {
            font-size: 3.75rem;
            line-height: 1.2;
        }
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1rem;
        }
        p {
            font-size: 1.2rem;
        }
    }

}

html {
    font-size: 16px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px
    }
}

@media (max-width: 475px) {
    html {
        font-size: 10px;
    }
}